{% extends "blog/layout.html" %}

{% block extra_head %}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script>
function initMap() {
    var $map = $('#map');

    if ( $map.size() > 0 ) {
        var lat = $map.data('lat');
        var lng = $map.data('lng');

        var myLatLng = {'lat': lat, 'lng': lng};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });
    }
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>

    <ul>
        <li>
            Tags :
            {% for tag in post.tag_set.all %}
                {{ tag.name }}
            {% endfor %}
        </li>
    </ul>

    {% if post.lnglat %}
        <div id="map" data-lat="{{ post.lat }}" data-lng="{{ post.lng }}"></div>
    {% endif %}

    {{ post.content|linebreaks }}

    <hr/>
    <a href="{% url "blog:comment_new" post.pk %}" class="btn btn-primary btn-block">댓글쓰기</a>

    <ul>
    {% for comment in post.comment_set.all %}
        <li>
            {{ comment.message }}
            <small>by {{ comment.user }}</small>

            {% if comment.user == user %}
                <a href="{% url "blog:comment_edit" post.pk comment.pk %}">Edit</a>
                <a href="{% url "blog:comment_delete" post.pk comment.pk %}" class="text-danger">Delete</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <hr/>
    <a href="{% url "blog:post_list" %}" class="btn btn-default">목록</a>
    <a href="{% url "blog:post_edit" post.pk %}" class="btn btn-primary">수정</a>

    <h3>Comments</h3>
    <ul>
    {% for comment in post.comment_set.all %}
        <li>
            {{ comment.message }}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
